
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Basic</title>
</head>
<body>
    <h1>Welcome Fixity Technologies:</h1>
    <h3>@ViewBag.val</h3>
</body>
</html>
